.con-nav h1 {
    flex-grow: 1;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.con-nav {
    background-color: #fff;
    font-weight: bold;
}

.nav-img img {
    border-radius: 121px;
    width: 73px;
    height: 70px;
}

.navbar-collapse {
    flex-grow: 0;
    /* align-items: center;
    padding: 0px 26px; */

}



.nav-list {
    padding-right: 9px;
}

body {
    background-color: #fff;
}

.ab-img img {
    height: 18%;
    margin: 10% 0% 0% 26%;
}

.about-1 {
    padding: 34px 0px 0px 54px;
    line-height: 43px;
    /* line-height: 34px; */
    margin-top: 8%;
    flex: 0 0 auto;
    width: 50%;
    font-size: 20px;
}

.about .btn {
    background-color: rgb(17, 119, 236);
    margin-top: 50px;
    border-radius: 40px;
    width: 200px;
}

.about .btn a {
    color: #fff;
    text-decoration: none;
}

.about .about-text {
    font-weight: bold;
    padding: 35px 0px 1px 0px;
    line-height: 264%;
    padding-top: 3%;
}

.about-content .about-tex1 {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 13px 0px 0px;
    line-height: 223%;
    padding-top: 1%;

}

.about-content img {
    width: 64%;
}

.about-content h1 {

    padding-bottom: 3px;
    display: flex;
    height: 52px;
    width: 192px;
    border-bottom: 2px solid black;

}

.about-content {
    padding-top: 24%;
    height: 700px;
}

.about {
    height: 980px;
    padding-top: 15%;
    padding-bottom: 20%;
}

/* #skill-tit{
    padding-top:10% ;
} */
.skill h1 {
    margin-left: 42%;
    width: 192px;
    border-bottom: 2px solid black;
}

.skill-1 .col-4 img {
    width: 100px;
}

.skill-1 {
    padding-top: 10%;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
}

.card {

    height: 500px;
    width: 250px;
    padding: 20px;
    margin: 51px 189px 68px 0px;
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
}

.skill-item {
    display: flex;
}

#skill-tit {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    margin-top: 250px;
}

#skill-tit h1 {
    margin-top: 19%;
    margin-left: 36%;
    padding-bottom: 3px;
    display: flex;
    height: 52px;
    width: 167px;
    border-bottom: 2px solid black;
    padding-left: 0;
}

.conatact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact h1 {
    text-align: center;
    margin-top: 10%;
    border-bottom: solid black 2px;
    width: 202px;
    margin-left: 26%;
}

.conatact p {
    padding-top: 50px;
}

form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 71%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    background-color: #f7f7f7;
}

textarea {
    height: 150px;
    resize: vertical;
}

input[type="submit"] {
    padding: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}


@media (min-width: 481px) and (max-width: 767px) {

    .nav-links {

        position: absolute;

        z-index: 1;

        top: 4rem;

        background: black;

        width: 94%;

        border-radius: 10px;

    }
}

/* position: absolute;
    z-index: 1;
    top: 125%;
    left: 20%;
    background: aliceblue;
    width: 250px; */